/csrc
/DVEfiles
/simv.daidir
*.bak
pipeline/transcript
/pipeline/work/
*transcript
lc86.sublime-project
lc86.sublime-workspace

# cadence vcs compilation/simulation
####################################
DVEfiles/
csrc/
simv
simv.daidir
*.key
*.vpd
*.vpd.*
*.old
*.png
memory/main_memory/sram_list/*
